<h2 class="destination-info">{{city}}, {{country}}</h2>
<h5 class="destination-info">Current Rating:  {{rating}}</h5>
<p>Owner: {{owner.email}}</p>
<p>Last Update: {{updatedAt}}</p>
<p>Document ID: {{_id}}</p>
<button class="btn btn-light delete-button" data-id="{{_id}}" type="button">Delete Destination</button>
